#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.toolbar {
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-direction: column;
}

.container {
  display: grid;
  gap: 1em;
  /* two column with toolbar width of 200px */
  grid-template-columns: 200px 1fr;
  height: 80vh;
}
